.hover_link {
    color: var(--color-blanco) !important;
    border-bottom: 2px solid transparent; 
  }
  
  .hover_link:hover {
    color: var(--color-azul) !important;
    text-shadow: 0px 1px 1px var(--color-azul);
    border-bottom: 2px solid var(--color-azul); 
  }
  