@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600&family=Raleway:wght@200;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #242424;
}
.navbar{
  --bs-navbar-toggler-focus-width: 0rem;
}

.navbar-color{
  background: rgb(30,30,30);
  border-radius: 0 0 10px 10px;
}

.navbar-toggler{
  border: none;
}

.tag_link{
  color: #6c757d;
}

.tag_link :hover{
  color: white;
}

.text-nombre-color{
  color: #242424;
  text-decoration: none;
}


.text-nombre-educacion{
  color:rgb(174, 188, 201);
  font-weight: 900;
}

.color-boton{
  background-color: rgb(30, 30, 30);
  width: 250px;
}

.color-boton:hover{
  background-color: rgba(40, 40, 40, 0.318);
  color: white !important;
}

.tama帽o-card-portafolio{
  width: 310px;
}

.name_cv{
  margin-top: 80px;
  height: 400px;
  padding-top: 50px;
  border-radius: 10px;
}

.sobre_mi{
  height: auto;
  padding-top: 50px;
  margin-bottom: 400px;
}

.sobre_habilidades_contenedor{
  height: auto;
  padding-top: 250px;
}

.sobre_educacion_contenedor{
  height: auto;
  padding-top: 250px;
}

.sobre_mi_img{
  height: 500px;
  margin-top: 150px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}


.educacion_contenido i{
  color: var(--bs-tertiary-color);
}

.sobre_experiencia_contenedor{
  height: auto;
  margin-top: 250px;
}

.sobre_mi_nombre_contenedor{
  height: auto;
  margin-bottom: 250px;
}

.sobre_footer{
  margin-top: 9rem;
}

.name_cv_text{
  font-size: 6.8rem;
  line-height: 80px;
}

.fixed-top{
  position: sticky;
  padding: 10px 20px;
}

.sobre_proyectos-contenedor{
  height: auto;
  padding-top: 200px;
}

/*Texto dinamico*/
@keyframes typing {
  0.0000% , 62.5005% { content: ""; }
  1.7857% , 60.7148% { content: "F"; }
  3.5714% , 58.9291% { content: "Fr"; }
  5.3571% , 57.1434% { content: "Fron"; }
  7.1428% , 55.3577% { content: "Front"; }
  8.9285% , 53.572% { content: "Front e"; }
  10.7142%, 51.7863% { content: "Front en"; }
  12.4999%, 50.0006% { content: "Front end"; }
  14.2856%, 48.2149% { content: "Front end D"; }
  16.0713%, 46.4292% { content: "Front end De"; }
  17.857% ,  44.6435% { content: "Front end Dev"; }
  19.6427%, 42.8578% { content: "Front end Deve"; }
  21.4284%, 41.0721% { content: "Front end Devel"; }
  23.2141%, 39.2864% { content: "Front end Develo"; }
  25.0008%, 37.5007% { content: "Front end Develop"; }
  26.7865%, 35.715% { content: "Front end Develope"; }
  28.5722%, 33.9293% { content: "Front end Developer"; }
  30.3579%, 32.1436% { content: "Front end Developer "; }
  
  64.2862% , 97.6401% { content: ""; }
  66.0719% , 96.4975% { content: "A"; }
  67.8576% , 95.3549% { content: "Ar"; }
  69.6433% , 94.2123% { content: "Arq"; }
  71.429%  , 93.0697% { content: "Arqu"; }
  73.2147% , 91.9271% { content: "Arqui"; }
  75.0004% , 90.7845% { content: "Arquit"; }
  76.7861% , 89.6419% { content: "Arquite"; }
  78.5718% , 88.4993% { content: "Arquitec"; }
  80.3575% , 87.3567% { content: "Arquitect"; }
  82.1432% , 86.2141% { content: "Arquitecto"; }
  83.9289% , 85.0715% { content: "Arquitecto  "; }
  
  0%, 100% { color: white; }
  0%, 100% { background-color: rgb(30, 30, 30); padding: 15px; border-radius: 10px;}
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.h1-first .typewriter {
  --caret: currentcolor;
}

.h1-first .typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.h1-first .typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.h1-first .typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.h1-first .typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    50% { content: "writer"; }
  }

  .h1-first .typewriter::before {
    content: "developer";
    animation: sequencePopup 1s linear infinite;
  }
}

@keyframes movimiento {
  0% {
    box-shadow: 20px 20px 50px #00000044, -20px -20px 50px #ffffff;
  }
  25% {
    box-shadow: 10px 10px 50px #00000044, -30px -30px 50px #ffffff;
  }
  50% {
    box-shadow: 0px 0px 50px #00000044, -40px -40px 50px #ffffff;
  }
  75% {
    box-shadow: -10px -10px 50px #00000044, -30px -30px 50px #ffffff;
  }
  100% {
    box-shadow: -20px -20px 50px #00000044, -20px -20px 50px #ffffff;
  }
}



/* Sober Mi */
 .sobre_habilidades_text, .sobre_educacion_text{
  margin-top: 1rem; 

  font-size: 3.5rem;
  text-decoration: underline;
}

.sobre_footer_text{
  font-size: 2rem;
}

.sobre_habilidades{
  margin-top: 10rem; 
  border-radius: 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background: rgb(0,40,40);
  background: linear-gradient(123deg, rgba(30,30,30,1) 0%, rgba(35,35,35,1) 50%, rgba(40,40,40,1) 100%);
}

.img_sobre_mi {
  height: 30rem;
  border-radius: 1rem;
  filter: hue-rotate(180deg) blur(5px); 
}

.sobre_educacion{
  border-radius: 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background: rgb(0,40,40);
  background: linear-gradient(123deg, rgba(30,30,30,1) 0%, rgba(35,35,35,1) 50%, rgba(40,40,40,1) 100%);

}

.project_description{
  font-size: 14px;
}

.text-tittle-nombre-color{
  color: rgb(174, 188, 201)
}

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

/* Redondear la esquina de la barra de desplazamiento */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Cambiar el color del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Cambiar el color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: rgb(30, 30, 30);
  border-radius: 2px;
}

/* Cambiar el color del pulgar de la barra de desplazamiento al pasar el cursor sobre 茅l */
::-webkit-scrollbar-thumb:hover {
  background-color: #424649;
}


.sobre_experiencia{
  background: rgb(0,40,40);
  background: linear-gradient(123deg, rgba(30,30,30,1) 0%, rgba(35,35,35,1) 50%, rgba(40,40,40,1) 100%);
}

.sobre_experiencia-card{
  border-color: black !important;  
  background-color: black !important;
}

.sobre_experiencia-inf{
  color: rgb(174, 188, 201);

}

.sobre_experiencia_text, .sobre_mi_text{
  color: #aebcc9;
  font-size: 3.5rem;
  text-decoration: underline;
}

.sobre_mi_container{
  background-color: rgb(30, 30, 30) ;
  border-radius: 20px;
}

.experiencia_contenido .card{
  max-width: 18rem;
  height: 400px;
  background-color: white;
  opacity: 0.9;
}

.experiencia_contenido .card .card-header{
  text-align: center;
  color: rgb(174, 188, 201);
  height: 70px;
  background-color: rgb(30, 30, 30) ;
}

.experiencia_contenido .card div.card-body{
  text-align: start;
  /* color: black; */
  background-color: rgb(40,40,40) !important;
}

.experiencia_contenido{
  overflow: hidden;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white;
}

.sobre_proyectos .card {
  border-radius: 0 0 0.5rem 0.5rem;
}
.sobre_proyectos .card-img-top{
  filter: blur(0.6px);
  /* height: 20rem; */
  width: 20rem;
}

.hover_link {
  color: #909294 !important;
  transition: color 0.3s ease, border-bottom 0.3s ease; 
  border-bottom: 2px solid transparent; 
}

.hover_link:hover {
  color: white !important;
  text-shadow: 0px 1px 1px white;
  border-bottom: 2px solid white; 
  animation: animateBorder 1s ease; 
}

/* Definici贸n de la animaci贸n del borde inferior */
@keyframes animateBorder {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* Ancho completo del borde inferior */
  }
}

.contenedor_project{
  overflow:hidden;
  border: solid 1px #d2d2d2;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;

}

.img_project{
  filter: blur(0px); 
  transform:scale(1.3);
  filter: saturate(70%);
  transition: transform 0.3s ease;
}

.img_project_remove{
  transform:scale(1);
  /* filter: grayscale(100%) !important; */
  transition: transform 0.3s ease;
}

/*body*/
.menu{
  margin-top: 80px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/*separacion de toda la estructura de la barra de selecci贸n*/
.main{
  padding: 20px;
}
/*Icono para abrir y cerrar la barra de selecci贸n*/
.icon_menu{
  margin-left: 3rem;
    width: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(5px);
    color: rgb(250, 250, 250);
}
.icon_menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}
/*menu de selecci贸n*/
.menu_side{
    
    height: 100%;
    position: fixed;
    /* background: #285b5f; */
    top: 0;
    left: 0px;
    font-size: 18px;
    z-index: 300;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    width: 3rem;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    justify-content: center;
}
/*logo*/

@media (min-width: 992px) {
  .sobre_mi{
    height: 700px;
    padding-top: 50px;
  }

  .sobre_educacion_contenedor{
    height: 900px;
  }

  .sobre_experiencia{
    /* background-image: url('../public/img/imagen-pc-1200x500.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

  }
}

.img-custom-size {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
  animation: rotateAndVibrate 3s ease-in-out infinite;
}

@keyframes rotateAndVibrate {
  0% { 
    transform: rotate(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(2deg) translate(-1px, 1px);
  }
  40% {
    transform: rotate(-2deg) translate(1px, -1px);
  }
  60% {
    transform: rotate(2deg) translate(-1px, 1px);
  }
  80% {
    transform: rotate(-2deg) translate(1px, -1px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@media (max-width: 576px){
  .sobre_mi_img{
    height: 400px;
    margin-top: 50px;
  } 
  .sobre_habilidades_text, .sobre_educacion_text, .sobre_experiencia_text{
    font-size: 2.5rem;
  }

  .sobre_educacion_contenedor{
    margin: auto 20px;
  }

  .sobre_habilidades_contenedor{
    margin: auto 20px;
  }
  .sobre_footer{
    margin-top: 2rem;
  }
}